# Dependencies
node_modules/

# Build
dist/
build/
!packages/tokens/scripts/build/
!packages/tokens/tests/build/
coverage/

# Cache
.cache/
.tmp/
temp/

# Logs
*.log
npm-debug.log*

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db
